fastapi
uvicorn[standard]
networkx
leidenalg
firebase-admin
httpx
python-dotenv
pandas
scikit-learn
requests
python-dateutil
pyvis
neo4j
gspread
openpyxl
google-auth
python-multipart
google-analytics-data
apscheduler
google-api-python-client
google-auth-oauthlib
google-auth-httplib2